@import 'reset.css';

@font-face {
src:url("Unica77LL-Regular.otf");
src:url("Unica77LL-Bold.otf");
src:url("wolfhouse-regular-webfont.woff");
}


::-webkit-scrollbar {
    display: none;
}

/* Mobile Below 600px */

header{
    position: fixed;
    margin-bottom: 25vh;    
    background: #f7f7f7;
}


.index{
    width: 100vw;
    background: #f7f7f7;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-top: 3vw;
}

.menudesk{
    display: none;
}


.main-content{
    padding-top:25vh;
}

.menu {
    opacity: 0;
    position: fixed;
    visibility:  hidden;
    background: #f7f7f7;
    margin-top: 0;
    width: 100vw;
    font-size: 4vw;
    left: -3vw;
    padding-left: 3vw;
    padding-bottom: 3vw;
}

.menu-open {
    opacity: 1;
    visibility: visible;    
}

body{
    font-family: Unica77LL-Regular;
    font-size: 4vw;
    line-height: 1.2;
    background: #f7f7f7;
    display: block;
}

p{
    margin: 3vw;
}

img{
    width: 100vw;
    height: inherit;
}


.logo{
    background: #f7f7f7;
    display: block;
    position: fixed;
    bottom: 0;
    width: 94vw;
    padding-left:3vw;
    padding-right:3vw;
    padding-bottom:6vw;
    padding-top: 3vh;
}



/*  Desktop Above 600px */

@media only screen and (min-width: 800px) {
    
    
html {    
	height: 100%;
    font-family: Unica77LL-Regular;
    font-size: 16px;
    background: #f7f7f7;
}

.main-content{
    padding-top:0;
}
    
body{
    font-size: 16px;
    padding-left: 0;
    padding-right: 0;
    }    
p{
    margin: 0;
}

/*caption style*/
.caption{
    font-size: 16px;
    line-height: 1.2;
    margin-top: 2vh;   
}

/*two column text*/
.twocol{
    font-size: 1.6vw;
    line-height: 1.2;
    width: 45.5vw;
}

/*one column text*/
.onecol{
    font-size: 1.6vw;
    line-height: 1.2;
    width: 21.25vw;
}

    
header{
    margin-left: 3vw;
    margin-right: 3vw;
    display:block;
    z-index: 100;
    position: fixed;
    width: 100%;
    margin-top: 1.5vw;
    display: block;

}
.index {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    display: inline-block;
    width: 21.25vw;        
    }   
    
.menudesk{    
    padding-left: 3vw;
    display: inline-block;
    width: 21.25vw;
}
    
.hidemobile{
    display: none;
}
    
.logo{
    width: auto;
    height: 8vh;
    bottom: 0;
    padding-bottom:1.5vw;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 0;
}


img {
    object-fit:cover;
	border: 0;
	vertical-align: top;
}

.wimg{
    height: 76vh;
    width: inherit;
}

.wimg2{
    width: inherit;
    height: 76vh;
    margin-right: 3.5vh;
}
.vertical{
    width: 21.25vw;
}

 .onecolimg{
    width: 21.25vw;
    height: inherit;    
    margin-top: 1.5vw;

    }
    
.textimg {
    width: 45.5vw;
    margin-bottom: 1.5vw;
    height: inherit;
}


.menu {
    opacity: 0;
    position: fixed;
    visibility:  hidden;
    background: #f7f7f7;
    margin-top: 0;
    width: 100vw;
    font-size: 16px;
    padding-bottom: 0;
    padding-left: 3vw;
    left: 0;
}
    
.menu-open {
    opacity: 1;
    visibility: visible;
}
    
.credits{
  display: block;
}


a:link{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

a:visited{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

a:hover{
    text-decoration: underline;
    cursor: pointer;}







/*DO NOT EDIT*/
.main-content,
.content-area {
	height: 100%;
	white-space: nowrap;}
    
.entry {
	display: inline-block;
	vertical-align: top;
	white-space: normal;
	word-wrap: break-word;
    margin-left: 3%;
    margin-top: 12vh;}
    
/*  SECTIONS  */
.section {
	clear: both;
	margin: 0px;}
    
/*  COLUMN SETUP  */  
    .col {
	display: block;
	float:left;
	margin: 0% 0% 0% 3%;}
.col:first-child { margin-left: 0; }
/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF FOUR  */
.span_4_of_4 {
	width: 94%;
}
.span_3_of_4 {
	width: 69.75%;
}
.span_2_of_4 {
	width: 45.5%;
}
.span_1_of_4 {
	width: 21.25%;
}    
 
}